<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link rel="stylesheet" href="/css/allgroups.css">
</head>

<body>
    <%- include("includes/header.ejs") %>
    <h1>Welcome to Your Groups</h1>
    <h2>Groups you are included in:</h2>

    <div class="container">
        <% group.forEach(g => { %>
            <div class="card">
                <h3><%= g.name %></h3>
                <p><strong>Group ID:</strong> <%= g.id %></p>
                <p><strong>About:</strong> <%= g.description %></p>
                <a href="/group/<%= userid %>/<%= g.id %>/photo" class="btn">View Photos</a>
            </div>
        <% }); %>
    </div>

    <div class="links">
        <a href="/group/<%= userid %>/create" class="btn">Create Group</a>
        <a href="/group/<%= userid %>/add" class="btn">Add to Existing Group</a>
    </div>
    <%- include("includes/footer.ejs") %>
</body>

</html>
